div#navbar{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  align-items: center;
  justify-items: center;

  width: 100vw;
  height: 70px;
  background-color: #222;
  color: white;
}
div.friendsAndPeople{
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 20px;
}
div.user img{
  width: 70px;
  height: 70px;
}