div.container{
  display: grid;
  align-items: center;
  justify-items: center;
}


#boxLogin{
  width: 30%;
  border: 1px solid black;
  padding: 20px;
  box-shadow: 0px 0px 20px 5px rgba(0,0,0,0.5);
}